<form [formGroup]="form" *ngIf="form">

    <app-header [title]="getTitle">
        <ng-container *ngIf="!isEditMode">
            <button type="button" class="btn btn-info btn-sm" (click)="visits()">Visits</button>
            <button type="button" class="btn btn-primary btn-sm ml-2" (click)="setEditMode()">Edit</button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Back</button>
        </ng-container>
        <ng-container *ngIf="isEditMode">
            <button type="button" class="btn btn-success btn-sm" (click)="onSubmit()" [disabled]="formNoValid">Save</button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Cancel</button>
        </ng-container>
    </app-header>

    <app-field forValue="dt" label="Customer Number *" [readValue]="form.get('customerNumber').value" [isReadMode]="!isEditMode" cls="mt-4">
        <input type="text" class="form-control" formControlName="customerNumber" id="customerNumber" *ngIf="isEditMode">
    </app-field>

    <app-field forValue="name" label="Name *" [readValue]="form.get('name').value" [isReadMode]="!isEditMode">
        <input type="text" class="form-control" formControlName="name" id="name" *ngIf="isEditMode">
    </app-field>

    <app-field forValue="petName" label="Pet Name *" [readValue]="form.get('petName').value" [isReadMode]="!isEditMode">
        <input type="text" class="form-control" formControlName="petName" id="petName" *ngIf="isEditMode">
    </app-field>

    <app-field forValue="address" label="Address *" [readValue]="form.get('address').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="address" id="address" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="health" label="Health" [readValue]="form.get('health').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="health" id="health" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="feedingRoutine" label="Feeding Routine" [readValue]="form.get('feedingRoutine').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="feedingRoutine" id="feedingRoutine" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="other" label="Other" [readValue]="form.get('other').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="other" id="other" *ngIf="isEditMode"></textarea>
    </app-field>

    <div class="text-end mb-4">
        <button type="button" class="btn btn-danger btn-sm" (click)="delete()" *ngIf="!isNew">Delete</button>
    </div>

</form>
