<form [formGroup]="form" *ngIf="form">

    <app-header [title]="getTitle">
        <ng-container *ngIf="!isEditMode">
            <button type="button" class="btn btn-warning btn-sm" (click)="visits()">Visits <i class="bi bi-list"></i></button>
            <button type="button" class="btn btn-primary btn-sm ml-2" (click)="setEditMode()">Edit <i class="bi bi-pencil"></i></button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Back <i class="bi bi-x-lg"></i></button>
        </ng-container>
        <ng-container *ngIf="isEditMode">
            <button type="button" class="btn btn-success btn-sm" (click)="onSubmit()" [disabled]="formNoValid">Save <i class="bi bi-check2"></i></button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Cancel <i class="bi bi-x-lg"></i></button>
        </ng-container>
    </app-header>

    <app-field forValue="dt" label="Customer Number *" [readValue]="form.get('customerNumber').value" [isReadMode]="!isEditMode" cls="mt-4">
        <input type="text" class="form-control" formControlName="customerNumber" id="customerNumber" *ngIf="isEditMode">
    </app-field>

    <app-field forValue="name" label="Name *" [readValue]="form.get('name').value" [isReadMode]="!isEditMode">
        <input type="text" class="form-control" formControlName="name" id="name" *ngIf="isEditMode">
    </app-field>

    <app-field forValue="petName" label="Pet Name *" [readValue]="form.get('petName').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="petName" id="petName" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="securedIndoors" label="Secured Indoors" [readValue]="form.get('securedIndoors').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="securedIndoors" id="securedIndoors" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="health" label="Health" [readValue]="form.get('health').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="health" id="health" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="feedingRoutine" label="Feeding Routine" [readValue]="form.get('feedingRoutine').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="feedingRoutine" id="feedingRoutine" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="litter" label="Litter" [readValue]="form.get('litter').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="litter" id="litter" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="other" label="Other" [readValue]="form.get('other').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="other" id="other" *ngIf="isEditMode"></textarea>
    </app-field>

    <div *ngIf="!isEditMode" class="form-bottom-buttons">
        <div>
            <button type="button" class="btn btn-danger btn-sm" (click)="delete()" *ngIf="!isNew">Delete</button>
        </div>
        <div>
            <button type="button" class="btn btn-warning btn-sm" (click)="visits()">Visits <i class="bi bi-list"></i></button>
            <button type="button" class="btn btn-primary btn-sm ml-2" (click)="setEditMode()">Edit <i class="bi bi-pencil"></i></button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Back <i class="bi bi-x-lg"></i></button>
        </div>
    </div>
    <div *ngIf="isEditMode" class="form-bottom-buttons">
        <div>

        </div>
        <div>
            <button type="button" class="btn btn-success btn-sm" (click)="onSubmit()" [disabled]="formNoValid">Save <i class="bi bi-check2"></i></button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Cancel <i class="bi bi-x-lg"></i></button>
        </div>
    </div>

<!--    <div class="text-end mb-4">-->
<!--        <button type="button" class="btn btn-danger btn-sm" (click)="delete()" *ngIf="!isNew">Delete</button>-->
<!--    </div>-->

</form>
