<form [formGroup]="form" *ngIf="form">

    <app-header [title]="getTitle">
        <ng-container *ngIf="!isEditMode">
            <button type="button" class="btn btn-primary btn-sm" (click)="setEditMode()">Edit <i class="bi bi-pencil"></i></button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Back <i class="bi bi-x-lg"></i></button>
        </ng-container>
        <ng-container *ngIf="isEditMode">
            <button type="button" class="btn btn-success btn-sm" (click)="onSubmit()" [disabled]="formNoValid">Save <i class="bi bi-check2"></i></button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Cancel <i class="bi bi-x-lg"></i></button>
        </ng-container>
    </app-header>

    <app-field forValue="dt" label="Date *" [readValue]="form.get('dt').value | date:'E, dd LLL yyyy'" [isReadMode]="!isEditMode" cls="mt-4">
        <input type="date" class="form-control" formControlName="dt" id="dt" *ngIf="isEditMode">
    </app-field>

    <app-field forValue="visitorAm" label="Visitor Name AM *" [readValue]="form.get('visitorAm').value" [isReadMode]="!isEditMode">
        <input type="text" class="form-control" formControlName="visitorAm" id="visitorAm" *ngIf="isEditMode">
    </app-field>

    <app-field forValue="visitorPm" label="Visitor Name PM *" [readValue]="form.get('visitorPm').value" [isReadMode]="!isEditMode">
        <input type="text" class="form-control" formControlName="visitorPm" id="visitorPm" *ngIf="isEditMode">
    </app-field>

    <app-field forValue="visualCheckAm" label="Visual Check AM" [readValue]="form.get('visualCheckAm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="visualCheckAm" id="visualCheckAm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="visualCheckPm" label="Visual Check PM" [readValue]="form.get('visualCheckPm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="visualCheckPm" id="visualCheckPm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="foodIntakeAm" label="Food Intake AM" [readValue]="form.get('foodIntakeAm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="foodIntakeAm" id="foodIntakeAm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="foodIntakePm" label="Food Intake PM" [readValue]="form.get('foodIntakePm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="foodIntakePm" id="foodIntakePm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="medicationAm" label="Medication AM" [readValue]="form.get('medicationAm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="medicationAm" id="medicationAm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="medicationPm" label="Medication PM" [readValue]="form.get('medicationPm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="medicationPm" id="medicationPm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="securityCheckAm" label="Security Check AM" [readValue]="form.get('securityCheckAm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="securityCheckAm" id="securityCheckAm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="securityCheckPm" label="Security Check PM" [readValue]="form.get('securityCheckPm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="securityCheckPm" id="securityCheckPm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="notesAm" label="Notes AM" [readValue]="form.get('notesAm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="notesAm" id="notesAm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="notesPm" label="Notes PM" [readValue]="form.get('notesPm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="notesPm" id="notesPm" *ngIf="isEditMode"></textarea>
    </app-field>

    <div *ngIf="!isEditMode" class="form-bottom-buttons">
        <div>
            <button type="button" class="btn btn-danger btn-sm" (click)="delete()" *ngIf="!isNew">Delete</button>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-sm ml-2" (click)="setEditMode()">Edit <i class="bi bi-pencil"></i></button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Back <i class="bi bi-x-lg"></i></button>
        </div>
    </div>
    <div *ngIf="isEditMode" class="form-bottom-buttons">
        <div>

        </div>
        <div>
            <button type="button" class="btn btn-success btn-sm" (click)="onSubmit()" [disabled]="formNoValid">Save <i class="bi bi-check2"></i></button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Cancel <i class="bi bi-x-lg"></i></button>
        </div>
    </div>

</form>
