<form [formGroup]="form" *ngIf="form">

    <app-header [title]="getTitle">
        <ng-container *ngIf="!isEditMode">
            <button type="button" class="btn btn-primary btn-sm" (click)="setEditMode()">Edit <i class="bi bi-pencil"></i></button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Back <i class="bi bi-x-lg"></i></button>
        </ng-container>
        <ng-container *ngIf="isEditMode">
            <button type="button" class="btn btn-success btn-sm" (click)="onSubmit()" [disabled]="formNoValid">Save <i class="bi bi-check2"></i></button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="back()">Cancel <i class="bi bi-x-lg"></i></button>
        </ng-container>
    </app-header>

    <app-field forValue="dt" label="Date *" [readValue]="form.get('dt').value | date:'E, dd LLL yyyy'" [isReadMode]="!isEditMode" cls="mt-4">
        <input type="date" class="form-control" formControlName="dt" id="dt" *ngIf="isEditMode">
    </app-field>

    <app-field forValue="name" label="Visitor Name *" [readValue]="form.get('name').value" [isReadMode]="!isEditMode">
        <input type="text" class="form-control" formControlName="name" id="name" *ngIf="isEditMode">
    </app-field>

    <app-field forValue="visualCheckAm" label="Visual Check AM" [readValue]="form.get('visualCheckAm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="visualCheckAm" id="visualCheckAm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="visualCheckPm" label="Visual Check PM" [readValue]="form.get('visualCheckPm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="visualCheckPm" id="visualCheckPm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="foodIntakeAm" label="Food Intake AM" [readValue]="form.get('foodIntakeAm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="foodIntakeAm" id="foodIntakeAm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="foodIntakePm" label="Food Intake PM" [readValue]="form.get('foodIntakePm').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="foodIntakePm" id="foodIntakePm" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="medication" label="Medication" [readValue]="form.get('medication').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="medication" id="medication" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="securityCheck" label="Security Check" [readValue]="form.get('securityCheck').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="securityCheck" id="securityCheck" *ngIf="isEditMode"></textarea>
    </app-field>

    <app-field forValue="notes" label="Notes" [readValue]="form.get('notes').value" [isReadMode]="!isEditMode">
        <textarea rows="5" class="form-control" formControlName="notes" id="notes" *ngIf="isEditMode"></textarea>
    </app-field>

    <div class="text-end mb-4">
        <button type="button" class="btn btn-danger btn-sm" (click)="delete()" *ngIf="!isNew">Delete</button>
    </div>

</form>
