table {
    thead th {
        background-color: #68B34D;
        color: #FFFFFF;
        white-space: nowrap;
        &:nth-child( 1 ) {
            text-align: right;
        }
    }
    tbody tr {
        cursor: pointer;
        td {
            &:nth-child( 1 ) {
                width: 50px;
                min-width: 50px;
                white-space: nowrap;
                text-align: right;
            }
            &:nth-child( 2 ) {
                width: 200px;
                white-space: nowrap;
            }
            &:nth-child( 3 ) {
                white-space: nowrap;
            }
        }
    }
}

.nextBatch {
    display: flex;
    justify-content: space-between;
}

.loadInfo {
    display: flex;
    justify-content: center;
    small {
        margin-top: 5px;
        color: #999999;
    }
    button:enabled {
        color: #1F72B6;
        i {
            color: #1F72B6;
        }
    }
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: #fff;
    z-index: 99;
    div {
        margin-left: 10px;
        font-weight: bold;
    }
}