<ng-container *ngIf="clientsService.items$ | async as items">

    <app-header title="Clients" [badge]="clientsService.getClientCountLocally().toString()">
        <button type="button" class="btn btn-warning btn-sm mr-2 mb-4" (click)="export()">Backup <i class="bi bi-save"></i></button>
        <button type="button" class="btn btn-info btn-sm ml-2 mb-4" routerLink="/clients/add">Add <i class="bi bi-plus"></i></button>
    </app-header>

    <div class="nextBatch mb-2"
         *ngIf="searchTerm==='' && items.length < clientsService.getClientCountLocally()">
        <button type="button" class="btn btn-secondary btn-sm" (click)="nextBatch(false)" [disabled]="clientsService.disablePrevious"><i class="bi bi-arrow-left-short"></i> Previous</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="nextBatch()" [disabled]="clientsService.disableNext">Next <i class="bi bi-arrow-right-short"></i></button>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Customer Name</th>
                <th>Pet's Name</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items" (click)="open(item, $event)">
                <td>{{ item.customerNumber }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.petName }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</ng-container>

<hr>
<button type="button" class="btn btn-link mr-2" (click)="dummyData()">Add Dummy Data</button>
<button type="button" class="btn btn-link" (click)="dummyDataDelete()">Delete Dummy Data</button>

<ng-template #loading>
    <div class="spinner-border text-green" role="status"></div>
</ng-template>
