table {
    thead th {
        background-color: #68B34D;
        color: #FFFFFF;
        white-space: nowrap;
        &:nth-child( 1 ) {
            text-align: right;
        }
    }
    tbody tr {
        cursor: pointer;
        td {
            &:nth-child( 1 ) {
                width: 50px;
                min-width: 50px;
                max-width: 50px;
                white-space: nowrap;
                text-align: right;
            }
            &:nth-child( 2 ) {
                width: 200px;
                min-width: 200px;
            }
            &:nth-child( 3 ) {
                //width: 120px;
                //min-width: 120px;
                white-space: nowrap;
            }
        }
    }
}

.nextBatch {
    display: flex;
    justify-content: space-between;
}

.loadInfo {
    display: flex;
    justify-content: center;
    small {
        margin-top: 5px;
        color: #999999;
    }
    button:enabled {
        color: #1F72B6;
        i {
            color: #1F72B6;
        }
    }
}