<ng-container *ngIf="clientsService.items$ | async as items">

    <ng-container *ngIf="(clientsService.countClient$ | async) as clientCount">

        <app-header title="All Clients">
            <button type="button" class="btn btn-info btn-sm" routerLink="/clients/add">Add <i class="bi bi-plus"></i></button>
        </app-header>

        <div class="loadInfo">
            <small>Loaded: {{ items.length }} of {{  clientCount }} clients.</small>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                <tr>
                    <th>Customer #</th>
                    <th>Pet's Name</th>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of items" (click)="open(item, $event)">
                    <td>{{ item.customerNumber }}</td>
                    <td>{{ item.petName }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.address }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="nextBatch mt-4 mb-4" *ngIf="searchTerm==='' && items.length != clientCount else allLoaded">
            <button type="button" class="btn btn-secondary btn-sm" (click)="nextBatch()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Load next batch...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>

        <ng-template #allLoaded>
            <p class="nextBatch">All {{ clientCount }} clients have been loaded.</p>
        </ng-template>

    </ng-container>

</ng-container>

<button type="button" class="btn btn-link" (click)="dummyData()">Add Dummies</button>
<button type="button" class="btn btn-link ml-2" (click)="dummyDataDelete()">Delete Dummies</button>

<ng-template #loading>
    <div class="spinner-border text-green" role="status"></div>
</ng-template>
