<ng-container *ngIf="items$ | async as items else loading">

    <app-header title="Clients" [subTitle]="'(Showing: ' + items.length + '/' + totalItems + ')'">
        <button type="button" class="btn btn-primary" routerLink="/clients/add">Add</button>
    </app-header>

    <div class="top-scroller mt-1" (scroll)="moveTableScrollBar()">
        <div [style.width]="tableWidth+'px'"></div>
    </div>

    <div class="table-responsive" [ngStyle]="{'overflow-x':'auto'}" (scroll)="moveTopScrollBar()">
        <table class="table table-bordered table-hover table-sm mb-0" #tableElement>
            <thead>
            <tr>
                <th width="200px">Customer Number</th>
                <th width="130px">Pet's Name</th>
                <th width="300px">Name</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items" (click)="open(item, $event)">
                <td>{{ item.customerNumber }}</td>
                <td>{{ item.petName }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.address }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</ng-container>

<ng-template #loading>
    <div class="spinner-border text-green" role="status"></div>
</ng-template>
