<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid flex-nowrap">
        <a class="navbar-brand" routerLink="/clients">
            <img src="/assets/images/pet-pal-logo.png" alt="petpals logo" height="50"
                 class="d-inline-block align-text-top">
        </a>
        <div class="d-flex" *ngIf="canShow">
            <div class="input-group">
                <input
                        type="search"
                        class="form-control"
                        placeholder="Customer Number..."
                        [(ngModel)]="searchTerm"
                        [ngModelOptions]="{standalone: true}"
                        (search)="resetSearch()">
                <span class="input-group-text green" (click)="resetSearch()"><i class="bi bi-search"></i></span>
            </div>
        </div>
    </div>
</nav>
