nav {

    &:not(.top-nav-collapse) {
        background: transparent;
    }

    .nav-item {
        display: block;
        color: white;

        &:hover {
            background-color: #2e2c2c;
            color: black;
        }

        a.active {
            background-color: #454545;
        }
    }
}
