nav {

    border-bottom: 1px solid #ededed;

    &:not(.top-nav-collapse) {
        background: transparent;
    }

    .nav-item {
        display: block;
        color: white;

        &:hover {
            background-color: #2e2c2c;
            color: black;
        }

        a.active {
            background-color: #454545;
        }
    }
}

span.input-group-text {
    background-color: #68B34D;
    color: #FFFFFF;
}
