table {
    thead th {
        background-color: #68B34D;
        color: #FFFFFF;
        white-space: nowrap;
        &:nth-child( 1 ) {
            text-align: center;
        }
    }
    tbody tr {
        cursor: pointer;
        td {
            &:nth-child( 1 ) {
                width: 50px;
                height: 100%;
                text-align: center;
                vertical-align: middle;
            }
            &:nth-child( 2 ) {
                width: 1px;
                white-space: nowrap;
            }
            &:nth-child( 3 ) {
                min-width: 150px;
                width: 150px;
                white-space: nowrap;
            }
            &:nth-child( 4 ) {
                min-width: 300px;
            }
        }
    }
}

.selects {
    display: flex;
    justify-content: flex-start;
    button {
        text-decoration: none;
        font-size: 85%;
        padding: 0;
        margin: 0px 30px 10px 0px;
        color: #555555;
    }
}