table {
    thead th {
        background-color: #68B34D;
        color: #FFFFFF;
        white-space: nowrap;
    }
    tbody tr {
        cursor: pointer;
        td {
            &:nth-child( 1 ) {
                width: 50px;
                height: 100%;
                text-align: center;
                vertical-align: middle;
            }
            &:nth-child( 2 ) {
                width: 1px;
                white-space: nowrap;
            }
            &:nth-child( 3 ) {
                min-width: 150px;
                width: 150px;
                white-space: nowrap;
            }
            &:nth-child( 4 ) {
                min-width: 300px;
            }
        }
    }
}
