/* You can add global styles to this file, and also import other style files */

.mt-2 { margin-top: 0.5rem; }
.mr-2 { margin-right: 0.5rem; }
.mb-2 { margin-bottom: 0.5rem; }
.ml-2 { margin-left: 0.5rem; }

.mt-4 { margin-top: 1rem; }
.mr-4 { margin-right: 1rem; }
.mb-4 { margin-bottom: 1rem; }
.ml-4 { margin-left: 1rem; }

.pointer { cursor: pointer; }

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.spinner-border {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    border: 2px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}
.text-green {
    color: #68B34D;
}